//===============================================================================
//	色を定義
//===============================================================================
$red: #b33;
$red-light: #fcc;
$green: #3b3;
$green-light: #cfc;
$blue: #33b;
$blue-light: #ccf;

//===============================================================================
//	input[type=text]
//===============================================================================
input[type="text"].form-item {
	display: block;
	padding: 5px 10px;
	width: 100%;

	color: #333;
	line-height: 180%;
	background: white;
	border: 1px solid #ccc;
	border-radius: 5px;

	transform: border-width .5s ease;

	// フォーカスされた時
	&:focus-visible {
		border: 2px solid #ccc;
	}

	&--red {
		color: $red;
		background-color: $red-light;
		border-color: $red;

		&:focus-visible {
			border: 2px solid $red;
		}
	}
	&--green {
		color: $green;
		background-color: $green-light;
		border-color: $green;

		&:focus-visible {
			border: 2px solid $green;
		}
	}
	&--blue {
		color: $blue;
		background-color: $blue-light;
		border-color: $blue;

		&:focus-visible {
			border: 2px solid $blue;
		}
	}
}


//===============================================================================
//	input[type=password]
//===============================================================================
input[type="password"].form-item {
}


//===============================================================================
//	input[type=tel]
//===============================================================================
input[type="tel"].form-item {
}



//===============================================================================
//	input[type=mail]
//===============================================================================
input[type="mail"].form-item {
}



//===============================================================================
//	input[type=checkbox]
//===============================================================================
input[type="checkbox"].form-item {
}



//===============================================================================
//	input[type=radio]
//===============================================================================
input[type="radio"].form-item {
}



//===============================================================================
//	input[type=number]
//===============================================================================
input[type="number"].form-item {
}



//===============================================================================
//	input[type=range]
//===============================================================================
input[type="range"].form-item {
}



//===============================================================================
//	input[type=color]
//===============================================================================
input[type="color"].form-item {
}



//===============================================================================
//	input[type=url]
//===============================================================================
input[type="url"].form-item {
}



//===============================================================================
//	input[type=file]
//===============================================================================
input[type="file"].form-item {
}



//===============================================================================
//	input[type=date]
//===============================================================================
input[type="date"].form-item {
}



//===============================================================================
//	input[type=time]
//===============================================================================
input[type="time"].form-item {
}



//===============================================================================
//	select
//===============================================================================
select.form-item {
}



//===============================================================================
//	textarea
//===============================================================================
textarea.form-item {
}



//===============================================================================
//	input[type=submit]
//===============================================================================
input[type="submit"].form-item {
}



//===============================================================================
//	input[type=reset]
//===============================================================================
input[type="reset"].form-item {
}



//===============================================================================
//	button
//===============================================================================
button.form-item {
}

