.form-item {
  display: block;
  padding: 5px 10px;
  width: 100%;
  color: #333;
  line-height: 180%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-transform: border-width 0.5s ease;
          transform: border-width 0.5s ease;
}
.form-item:focus-visible {
  border-width: 2px;
}
.form-item--red {
  color: #b33;
  border-color: #b33;
}
.form-item--green {
  color: #3b3;
  border-color: #3b3;
}
.form-item--blue {
  color: #33b;
  border-color: #33b;
}