.form-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type=text].form-item {
  display: block;
  padding: 5px 10px;
  color: #333;
  line-height: 180%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-transform: border-width 0.5s ease;
          transform: border-width 0.5s ease;
}
input[type=text].form-item:focus-visible {
  border: 2px solid #ccc;
}
input[type=text].form-item--full {
  width: 100%;
}
input[type=text].form-item--red {
  color: #b33;
  background-color: #fcc;
  border-color: #b33;
}
input[type=text].form-item--red:focus-visible {
  outline: auto;
  border: 2px solid #b33;
}
input[type=text].form-item--green {
  color: #3b3;
  background-color: #cfc;
  border-color: #3b3;
}
input[type=text].form-item--green:focus-visible {
  outline: auto;
  border: 2px solid #3b3;
}
input[type=text].form-item--blue {
  color: #33b;
  background-color: #ccf;
  border-color: #33b;
}
input[type=text].form-item--blue:focus-visible {
  outline: auto;
  border: 2px solid #33b;
}

input[type=password].form-item {
  display: block;
  padding: 5px 10px;
  color: #333;
  line-height: 180%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-transform: border-width 0.5s ease;
          transform: border-width 0.5s ease;
}
input[type=password].form-item:focus-visible {
  border: 2px solid #ccc;
}
input[type=password].form-item--full {
  width: 100%;
}
input[type=password].form-item--red {
  color: #b33;
  background-color: #fcc;
  border-color: #b33;
}
input[type=password].form-item--red:focus-visible {
  outline: auto;
  border: 2px solid #b33;
}
input[type=password].form-item--green {
  color: #3b3;
  background-color: #cfc;
  border-color: #3b3;
}
input[type=password].form-item--green:focus-visible {
  outline: auto;
  border: 2px solid #3b3;
}
input[type=password].form-item--blue {
  color: #33b;
  background-color: #ccf;
  border-color: #33b;
}
input[type=password].form-item--blue:focus-visible {
  outline: auto;
  border: 2px solid #33b;
}

input[type=tel].form-item {
  display: block;
  padding: 5px 10px;
  color: #333;
  line-height: 180%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-transform: border-width 0.5s ease;
          transform: border-width 0.5s ease;
}
input[type=tel].form-item:focus-visible {
  border: 2px solid #ccc;
}
input[type=tel].form-item--full {
  width: 100%;
}
input[type=tel].form-item--red {
  color: #b33;
  background-color: #fcc;
  border-color: #b33;
}
input[type=tel].form-item--red:focus-visible {
  outline: auto;
  border: 2px solid #b33;
}
input[type=tel].form-item--green {
  color: #3b3;
  background-color: #cfc;
  border-color: #3b3;
}
input[type=tel].form-item--green:focus-visible {
  outline: auto;
  border: 2px solid #3b3;
}
input[type=tel].form-item--blue {
  color: #33b;
  background-color: #ccf;
  border-color: #33b;
}
input[type=tel].form-item--blue:focus-visible {
  outline: auto;
  border: 2px solid #33b;
}

input[type=email].form-item {
  display: block;
  padding: 5px 10px;
  color: #333;
  line-height: 180%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-transform: border-width 0.5s ease;
          transform: border-width 0.5s ease;
}
input[type=email].form-item:focus-visible {
  border: 2px solid #ccc;
}
input[type=email].form-item--full {
  width: 100%;
}
input[type=email].form-item--red {
  color: #b33;
  background-color: #fcc;
  border-color: #b33;
}
input[type=email].form-item--red:focus-visible {
  outline: auto;
  border: 2px solid #b33;
}
input[type=email].form-item--green {
  color: #3b3;
  background-color: #cfc;
  border-color: #3b3;
}
input[type=email].form-item--green:focus-visible {
  outline: auto;
  border: 2px solid #3b3;
}
input[type=email].form-item--blue {
  color: #33b;
  background-color: #ccf;
  border-color: #33b;
}
input[type=email].form-item--blue:focus-visible {
  outline: auto;
  border: 2px solid #33b;
}

input[type=number].form-item {
  display: block;
  padding: 5px 10px;
  color: #333;
  line-height: 180%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-transform: border-width 0.5s ease;
          transform: border-width 0.5s ease;
}
input[type=number].form-item:focus-visible {
  border: 2px solid #ccc;
}
input[type=number].form-item--full {
  width: 100%;
}
input[type=number].form-item--red {
  color: #b33;
  background-color: #fcc;
  border-color: #b33;
}
input[type=number].form-item--red:focus-visible {
  outline: auto;
  border: 2px solid #b33;
}
input[type=number].form-item--green {
  color: #3b3;
  background-color: #cfc;
  border-color: #3b3;
}
input[type=number].form-item--green:focus-visible {
  outline: auto;
  border: 2px solid #3b3;
}
input[type=number].form-item--blue {
  color: #33b;
  background-color: #ccf;
  border-color: #33b;
}
input[type=number].form-item--blue:focus-visible {
  outline: auto;
  border: 2px solid #33b;
}

input[type=url].form-item {
  display: block;
  padding: 5px 10px;
  color: #333;
  line-height: 180%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-transform: border-width 0.5s ease;
          transform: border-width 0.5s ease;
}
input[type=url].form-item:focus-visible {
  border: 2px solid #ccc;
}
input[type=url].form-item--full {
  width: 100%;
}
input[type=url].form-item--red {
  color: #b33;
  background-color: #fcc;
  border-color: #b33;
}
input[type=url].form-item--red:focus-visible {
  outline: auto;
  border: 2px solid #b33;
}
input[type=url].form-item--green {
  color: #3b3;
  background-color: #cfc;
  border-color: #3b3;
}
input[type=url].form-item--green:focus-visible {
  outline: auto;
  border: 2px solid #3b3;
}
input[type=url].form-item--blue {
  color: #33b;
  background-color: #ccf;
  border-color: #33b;
}
input[type=url].form-item--blue:focus-visible {
  outline: auto;
  border: 2px solid #33b;
}

input[type=date].form-item {
  display: block;
  padding: 5px 10px;
  color: #333;
  line-height: 180%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-transform: border-width 0.5s ease;
          transform: border-width 0.5s ease;
}
input[type=date].form-item:focus-visible {
  border: 2px solid #ccc;
}
input[type=date].form-item--full {
  width: 100%;
}
input[type=date].form-item--red {
  color: #b33;
  background-color: #fcc;
  border-color: #b33;
}
input[type=date].form-item--red:focus-visible {
  outline: auto;
  border: 2px solid #b33;
}
input[type=date].form-item--green {
  color: #3b3;
  background-color: #cfc;
  border-color: #3b3;
}
input[type=date].form-item--green:focus-visible {
  outline: auto;
  border: 2px solid #3b3;
}
input[type=date].form-item--blue {
  color: #33b;
  background-color: #ccf;
  border-color: #33b;
}
input[type=date].form-item--blue:focus-visible {
  outline: auto;
  border: 2px solid #33b;
}

input[type=time].form-item {
  display: block;
  padding: 5px 10px;
  color: #333;
  line-height: 180%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-transform: border-width 0.5s ease;
          transform: border-width 0.5s ease;
}
input[type=time].form-item:focus-visible {
  border: 2px solid #ccc;
}
input[type=time].form-item--full {
  width: 100%;
}
input[type=time].form-item--red {
  color: #b33;
  background-color: #fcc;
  border-color: #b33;
}
input[type=time].form-item--red:focus-visible {
  outline: auto;
  border: 2px solid #b33;
}
input[type=time].form-item--green {
  color: #3b3;
  background-color: #cfc;
  border-color: #3b3;
}
input[type=time].form-item--green:focus-visible {
  outline: auto;
  border: 2px solid #3b3;
}
input[type=time].form-item--blue {
  color: #33b;
  background-color: #ccf;
  border-color: #33b;
}
input[type=time].form-item--blue:focus-visible {
  outline: auto;
  border: 2px solid #33b;
}

select.form-item {
  display: block;
  padding: 5px 10px;
  color: #333;
  line-height: 180%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-transform: border-width 0.5s ease;
          transform: border-width 0.5s ease;
}
select.form-item:focus-visible {
  border: 2px solid #ccc;
}
select.form-item--full {
  width: 100%;
}
select.form-item--red {
  color: #b33;
  background-color: #fcc;
  border-color: #b33;
}
select.form-item--red:focus-visible {
  outline: auto;
  border: 2px solid #b33;
}
select.form-item--green {
  color: #3b3;
  background-color: #cfc;
  border-color: #3b3;
}
select.form-item--green:focus-visible {
  outline: auto;
  border: 2px solid #3b3;
}
select.form-item--blue {
  color: #33b;
  background-color: #ccf;
  border-color: #33b;
}
select.form-item--blue:focus-visible {
  outline: auto;
  border: 2px solid #33b;
}

textarea.form-item {
  display: block;
  padding: 5px 10px;
  color: #333;
  line-height: 180%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-transform: border-width 0.5s ease;
          transform: border-width 0.5s ease;
}
textarea.form-item:focus-visible {
  border: 2px solid #ccc;
}
textarea.form-item--full {
  width: 100%;
}
textarea.form-item--red {
  color: #b33;
  background-color: #fcc;
  border-color: #b33;
}
textarea.form-item--red:focus-visible {
  outline: auto;
  border: 2px solid #b33;
}
textarea.form-item--green {
  color: #3b3;
  background-color: #cfc;
  border-color: #3b3;
}
textarea.form-item--green:focus-visible {
  outline: auto;
  border: 2px solid #3b3;
}
textarea.form-item--blue {
  color: #33b;
  background-color: #ccf;
  border-color: #33b;
}
textarea.form-item--blue:focus-visible {
  outline: auto;
  border: 2px solid #33b;
}

input[type=submit].form-item {
  display: block;
  padding: 5px 10px;
  color: #333;
  line-height: 180%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-transform: border-width 0.5s ease;
          transform: border-width 0.5s ease;
}
input[type=submit].form-item:focus-visible {
  border: 2px solid #ccc;
}
input[type=submit].form-item--full {
  width: 100%;
}
input[type=submit].form-item--red {
  color: #b33;
  background-color: #fcc;
  border-color: #b33;
}
input[type=submit].form-item--red:focus-visible {
  outline: auto;
  border: 2px solid #b33;
}
input[type=submit].form-item--green {
  color: #3b3;
  background-color: #cfc;
  border-color: #3b3;
}
input[type=submit].form-item--green:focus-visible {
  outline: auto;
  border: 2px solid #3b3;
}
input[type=submit].form-item--blue {
  color: #33b;
  background-color: #ccf;
  border-color: #33b;
}
input[type=submit].form-item--blue:focus-visible {
  outline: auto;
  border: 2px solid #33b;
}

input[type=reset].form-item {
  display: block;
  padding: 5px 10px;
  color: #333;
  line-height: 180%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-transform: border-width 0.5s ease;
          transform: border-width 0.5s ease;
}
input[type=reset].form-item:focus-visible {
  border: 2px solid #ccc;
}
input[type=reset].form-item--full {
  width: 100%;
}
input[type=reset].form-item--red {
  color: #b33;
  background-color: #fcc;
  border-color: #b33;
}
input[type=reset].form-item--red:focus-visible {
  outline: auto;
  border: 2px solid #b33;
}
input[type=reset].form-item--green {
  color: #3b3;
  background-color: #cfc;
  border-color: #3b3;
}
input[type=reset].form-item--green:focus-visible {
  outline: auto;
  border: 2px solid #3b3;
}
input[type=reset].form-item--blue {
  color: #33b;
  background-color: #ccf;
  border-color: #33b;
}
input[type=reset].form-item--blue:focus-visible {
  outline: auto;
  border: 2px solid #33b;
}

button.form-item {
  display: block;
  padding: 5px 10px;
  color: #333;
  line-height: 180%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-transform: border-width 0.5s ease;
          transform: border-width 0.5s ease;
}
button.form-item:focus-visible {
  border: 2px solid #ccc;
}
button.form-item--full {
  width: 100%;
}
button.form-item--red {
  color: #b33;
  background-color: #fcc;
  border-color: #b33;
}
button.form-item--red:focus-visible {
  outline: auto;
  border: 2px solid #b33;
}
button.form-item--green {
  color: #3b3;
  background-color: #cfc;
  border-color: #3b3;
}
button.form-item--green:focus-visible {
  outline: auto;
  border: 2px solid #3b3;
}
button.form-item--blue {
  color: #33b;
  background-color: #ccf;
  border-color: #33b;
}
button.form-item--blue:focus-visible {
  outline: auto;
  border: 2px solid #33b;
}