.form-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type=text].form-item {
  display: block;
  padding: 5px 10px;
  color: #333;
  line-height: 180%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-transform: border-width 0.5s ease;
          transform: border-width 0.5s ease;
}
input[type=text].form-item:focus-visible {
  border: 2px solid #ccc;
}
input[type=text].form-item--full {
  width: 100%;
}
input[type=text].form-item--red {
  color: #b33;
  background-color: #fcc;
  border-color: #b33;
}
input[type=text].form-item--red:focus-visible {
  outline: auto;
  border: 2px solid #b33;
}
input[type=text].form-item--green {
  color: #3b3;
  background-color: #cfc;
  border-color: #3b3;
}
input[type=text].form-item--green:focus-visible {
  outline: auto;
  border: 2px solid #3b3;
}
input[type=text].form-item--blue {
  color: #33b;
  background-color: #ccf;
  border-color: #33b;
}
input[type=text].form-item--blue:focus-visible {
  outline: auto;
  border: 2px solid #33b;
}