//===============================================================================
//	色を定義
//===============================================================================
$default-f-color:   #333333;    // font-color
$default-bg-color:  #f0f0f0;    // background-color
$default-bd-color:  #cccccc;    // border-color
$default-h-f-color: #000000;    // font-color:hover
$default-h-bg-color:#fcfcfc;    // background-color:hover
$default-h-bd-color:#bbbbbb;    // border-color:hover

$red-f-color:       #ff9784;    // font-color
$red-bg-color: 	    #fff3f1;    // background-color
$red-bd-color: 	    #fcd6cd;    // border-color
$red-h-f-color: 	#ff7764;    // font-color:hover
$red-h-bg-color: 	#fffbfb;    // background-color:hover
$red-h-bd-color: 	#ff9784;    // border-color:hover

$green-f-color:     #7ae57a;    // font-color
$green-bg-color: 	#daffda;    // background-color
$green-bd-color: 	#a1f1a1;    // border-color
$green-h-f-color: 	#4ad64a;    // font-color:hover
$green-h-bg-color: 	#f2fff2;    // background-color:hover
$green-h-bd-color: 	#c3fac3;    // border-color:hover

$blue-f-color:  	#6161da;    // font-color
$blue-bg-color: 	#c7c7f6;    // background-color
$blue-bd-color: 	#a2a2ed;    // border-color
$blue-h-f-color: 	#4646cf;    // font-color:hover
$blue-h-bg-color: 	#ececff;    // background-color:hover
$blue-h-bd-color: 	#8484e5;    // border-color:hover