@import "define";

//===============================================================================
//	General
//===============================================================================
.form-item {
	box-sizing: border-box;
}



//===============================================================================
//	input[type=text]
//	input[type=password]
//	input[type=tel]
//	input[type=email]
//	input[type=number]
//	input[type=url]
//	input[type=date]
//	input[type=time]
//	select
//===============================================================================
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="url"],
input[type="date"],
input[type="time"],
select {
	&.form-item {
		display: block;
		margin-top: 5px;
		margin-bottom: 5px;
		padding: 0px 10px;

		color: $default-f-color;
		font-size: 16px;
		font-weight: 500;
		line-height: 180%;
		background: $default-bg-color;
		border: 2px solid $default-bd-color;
		border-radius: 5px;
		outline: auto;

		transform:
			color 0.5s ease,
			background-color 0.5s ease,
			border-color 0.5s ease;

		// フォーカスされた時
		&:focus-visible {
			color: $default-h-f-color;
			background-color: $default-h-bg-color;
			border-color: $default-h-bd-color;
		}

		&--full {
			width: 100%;
		}

		&--red {
			color: $red-f-color;
			background-color: $red-bg-color;
			border-color: $red-bd-color;

			&:focus-visible {
				color: $red-h-f-color;
				background-color: $red-h-bg-color;
				border-color: $red-h-bd-color;
			}
		}
		&--green {
			color: $green-f-color;
			background-color: $green-bg-color;
			border-color: $green-bd-color;

			&:focus-visible {
				color: $green-h-f-color;
				background-color: $green-h-bg-color;
				border-color: $green-h-bd-color;
			}
		}
		&--blue {
			color: $blue-f-color;
			background-color: $blue-bg-color;
			border-color: $blue-bd-color;

			&:focus-visible {
				color: $blue-h-f-color;
				background-color: $blue-h-bg-color;
				border-color: $blue-h-bd-color;
			}
		}
	}
}



//===============================================================================
//	input[type=checkbox]
//===============================================================================
input[type="checkbox"].form-item {
}



//===============================================================================
//	input[type=radio]
//===============================================================================
input[type="radio"].form-item {
}



//===============================================================================
//	input[type=range]
//===============================================================================
input[type="range"].form-item {
}



//===============================================================================
//	input[type=color]
//===============================================================================
input[type="color"].form-item {
}



//===============================================================================
//	input[type=file]
//===============================================================================
input[type="file"].form-item {
}



//===============================================================================
//	textarea
//===============================================================================
textarea.form-item {
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0px 10px;

	color: $default-f-color;
	font-size: 16px;
	font-weight: 500;
	line-height: 180%;
	background: $default-bg-color;
	border: 2px solid $default-bd-color;
	border-radius: 5px;
	outline: auto;

	transform:
		background-color 0.5s ease,
		border-color 0.5s ease;

	// フォーカスされた時
	&:focus-visible {
		border: 3px solid #ccc;
	}

	&--full {
		width: 100%;
	}

	&--red {
		color: $red-f-color;
		background-color: $red-bg-color;
		border-color: $red-bd-color;

		&:focus-visible {
			color: $red-h-f-color;
			background-color: $red-h-bg-color;
			border-color: $red-h-bd-color;
		}
	}
	&--green {
		color: $green-f-color;
		background-color: $green-bg-color;
		border-color: $green-bd-color;

		&:focus-visible {
			color: $green-h-f-color;
			background-color: $green-h-bg-color;
			border-color: $green-h-bd-color;
		}
	}
	&--blue {
		color: $blue-f-color;
		background-color: $blue-bg-color;
		border-color: $blue-bd-color;

		&:focus-visible {
			color: $blue-h-f-color;
			background-color: $blue-h-bg-color;
			border-color: $blue-h-bd-color;
		}
	}
}



//===============================================================================
//	input[type=submit]
//	input[type=reset]
//	button
//===============================================================================
input[type="submit"],
input[type="reset"],
button {
	&.form-item {
		display: block;
		margin-top: 5px;
		margin-bottom: 5px;
		padding: 0px 10px;

		color: $default-f-color;
		font-size: 16px;
		font-weight: 500;
		line-height: 180%;
		background: $default-bg-color;
		border: 2px solid $default-bd-color;
		border-radius: 5px;
		outline: auto;

		transform:
			background-color 0.5s ease,
			border-color 0.5s ease;

		// フォーカスされた時
		&:focus-visible {
			border: 3px solid #ccc;
		}

		&--full {
			width: 100%;
		}

		&--red {
			color: $red-f-color;
			background-color: $red-bg-color;
			border-color: $red-bd-color;
	
			&:focus-visible {
				color: $red-h-f-color;
				background-color: $red-h-bg-color;
				border-color: $red-h-bd-color;
			}
		}
		&--green {
			color: $green-f-color;
			background-color: $green-bg-color;
			border-color: $green-bd-color;
	
			&:focus-visible {
				color: $green-h-f-color;
				background-color: $green-h-bg-color;
				border-color: $green-h-bd-color;
			}
		}
		&--blue {
			color: $blue-f-color;
			background-color: $blue-bg-color;
			border-color: $blue-bd-color;
	
			&:focus-visible {
				color: $blue-h-f-color;
				background-color: $blue-h-bg-color;
				border-color: $blue-h-bd-color;
			}
		}
	}
}



//===============================================================================
//	input-bundle
//===============================================================================
.input-bundle {
	display: flex;
	margin: 5px 0px;
	width: 100%;

	* {
		margin: 0px;
	}

	.input-bundle__text {
		display: flex;
		padding: 0px 10px;
		width: max-content;

		align-items: center;
		line-height: 100%;
		background: $default-bg-color;

		&:first-child {
			border-top: 1px solid $default-bd-color;
			border-left: 1px solid $default-bd-color;
			border-bottom: 1px solid $default-bd-color;
		}
		&:last-child {
			border-top: 1px solid $default-bd-color;
			border-right: 1px solid $default-bd-color;
			border-bottom: 1px solid $default-bd-color;
		}
	}

	*:not(.input-bundle__text) {
		flex: 1;
	}
	*:first-child {
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	*:last-child {
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}
	*:not(:first-child):not(:last-child) {
		border-left: none;
		border-right: none;
		border-radius: 0px;
	}
}